/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.bill-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 50px 40px;
  width: 379px;
}

label {
  font-family: "Space Mono";
  height: 24px;
  font-size: 16px;
  color: #5e7a7d;
  font-weight: 700;
  font-style: normal;
  line-height: 24px;
}
/* error labels */
.labels {
  display: flex;
  justify-content: space-between;
}

.form-control input[type="number"] {
  display: flex;
  justify-content: flex-end;
  width: 379px;
  height: 48px;
  margin-top: 10px;
  padding-right: 20px;
  background-color: #f3f9fa;
  color: #00474b;
  border-radius: 5px;
  border: none;
  font-size: 24px;
  text-align: right;
  cursor: pointer;
}

.form-control input[type="number"]:hover {
  border: 1px solid #26c2ae;
}

.form-control.form-bill {
  display: flex;
  flex-direction: column;
}

.tip-selection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
}

.form-control input[type="button"]:hover {
  background-color: #9fe8df;
  color: #00474b;
}

.form-control input[type="button"]:focus {
  background-color: #26c2ae;
  color: #00474b;
}

.form-control input[type="button"] {
  width: 117px;
  height: 48px;
  margin-bottom: 20px;
  background-color: #00474b;
  color: #ffff;
  font-family: "Space Mono";
  font-size: 24px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* for custom input */
.form-control .custom {
  width: 117px;
  height: 48px;
  font-family: "Space Mono";
  font-size: 24px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f3f9fa;
  color: #00474b;
  text-align: right;
  padding-right: 20px;
}

.form-control .custom:hover {
  border: 1px solid #26c2ae;
}
