/*A reset for CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #C5E4E7;
  font-family: 'Space Mono', monospace;
}

.app {
  display: flex;
  margin-top: 163px; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header{
  margin-bottom: 100px;
}

.container {
  display: flex;
  justify-content: space-between;
  background-color: #FFFF;
  width: 920px;
  height: 481px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
